services:
  - type: web
    name: caderneta-api
    runtime: node
    plan: free
    rootDir: backend
    buildCommand: npm run build
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
